* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
}

h1#logo {
    width: 500px;
    height:70px;
    background: url(chris/media/csLogo.svg) top left no-repeat;
    background-size: 100%;
    font-size: 0px;
    margin: 0 auto;
    /*display: block;*/
}

#container {
    width: 600px;
    margin: 100px auto 0px;
    /*background: #d4d4d4;*/
    text-align: center;
    padding: 10px 0;
}



input[type="search"] {
    width: 90%;
    margin: 15px auto;
    padding: 10px;
    display: block;
    text-align: left;
    border: 4px solid #d4d4d4;
    border-radius:  5px;
}

input[type="search"]:hover {
    border-color: #c7c7c7;
}

input[type="search"]:focus {
    border-color: #c7c7c7;
    outline: red solid 2px;
}

input[type="submit"] {
    background: #e4e4e4;
    border: 2px solid #c7c7c7;
    border-radius: 5px;
    width: 35%;
    padding: 5px 5px;
    margin: 0 20px 10px;
    font-size: 0.8em;
    transition: all linear 0.1s;   
}

input[type="submit"]:hover {
    background: grey;
    color: white;
    border-color: black; 
}

/* nav formatting */

nav#header {
    text-align: right;
    padding: 10px 0;
}

nav#footer {
    background: #e4e4e4;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline-block; /*display the nav unordered list items inline*/
    padding: 0 10px;
}

#copyright {
    position: fixed;
    text-align: right;
    font-size: 0.5em;
    padding: 10px;
    bottom: 0;
    right: 0;
}

a {
    text-decoration: none;
}

#ribbonHeader {
    /*background: #e4e4e4;*/
    position: fixed;
    top: 0px;
    width: 100%;
    padding: 10px 0;
    text-align: left;
}

#ribbonHeader nav ul {
    float: left;
    padding: 10px 0;
}

#ribbonHeader ul#floatRight {
    float: right;
    text-align: right;
    padding: 0 0;
    /*line-height: 70px;*/
}

#compactLogo {
    width: 50px;
    height:35px;
    background: url(chris/media/compactLogo.svg) bottom left no-repeat;
    background-size: 100%;
    margin: 0 20px;
    transition: all linear 0.1s;
    font-size: 0px;
}

#compactLogo:hover {
    height: 35px;
    width: 250px;
    background: url(chris/media/csLogo.svg) bottom left no-repeat;
    background-size: 100%;
    margin: 0 20px;
}

a#currentPage {
    color:aliceblue;
}