* { /* global default styles */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
}

body {
    font-weight: normal;
    background: white;
}

#container {
    max-width: 800px;
    margin: 0 auto;
    margin-top: 35px;
    background: white;
    text-align: center;
    padding: 50px 10px;
    margin-bottom: 0; /*nyi for any footer bar*/
    /*min-height: 100%;*/
    overflow: hidden;
}

#container > h1 {
    font-size: 30px;
    padding: 10px 20px;
    margin: 30px 0;
    border-bottom: 1px solid grey;
    border-width: 100%;
    text-align: left;
}

h1#logo {
    width: 500px;
    height:70px;
    background: url(../media/csLogo.svg) top left no-repeat;
    background-size: 100%;
    font-size: 0px;
    margin: 0 auto;
    /*display: block;*/
}

.textBoxes {
   margin: 10px;
   text-align: left;
}

.textBoxes > li {
    text-align: left;
    border: 2px solid grey;
    background: #f1f1f1;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 20px 0 30px;
    display: block;
}

.textBoxes li h2 {
    padding: 5px 10px;
    /*font-style: italic;*/
    font-size: 22px;
    border-bottom: 1px solid grey;
    margin: 0 0 10px;
}

.textBoxes li h3 {
    margin: 10px 0;
    font-size: 18px;
    font-style: italic;
}

.textBoxes ul.list li {
    padding: 5px 5px 5px 50px;
}

/*
**  flex-header
*/

#flex-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #f1f1f1;
    height: 70px;
    text-align: center;
}

#flex-header > #flex-logo {
    display: flex;
    height: 60px;
    width: 85px;
    justify-content: flex-start;
    margin-left: 5%;
    background: url(../media/compactLogo.svg) center no-repeat;
    background-size: 100%;
    font-size: 0;
    transition: all linear 0.1s;
}

#flex-header > #flex-tabs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2px;
    justify-content: flex-end;
    align-items: center;
    margin-right: 5%;
    height: 100%;
}

#flex-tabs > li {

    width: 100px;
    height: 60px;
    background-color: white;
    border-radius: 5px;
}

#flex-tabs > li > a {
    line-height: 60px;
    color: #0085FF;
    font-size: 22px;
}

#flex-tabs > li#current-page {
    background-color: #0085FF;
}

#flex-tabs > li#current-page > a {
    color: aliceblue;
}

#flex-tabs > li:hover {
    border-color: black;
}

#flex-header > #flex-logo:hover {
    width: 480px;
    background: url(../media/csLogo.svg) center no-repeat;
    background-size: 100%;
}