* { /* global default styles */
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: normal;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-weight: normal;
    background: white;
}

header {
    background: #f1f1f1;
    width: 100%;
}

#flexHeader {
    width: 96%;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

#headerLogo {
    display: flex;
    border: 2px solid orange;
    font-size: 0px;
    background: url(../media/compactLogo.svg) center no-repeat;
    width: 70px;
    background-size: 100%;
}

#headerLogo:hover {
    background: url(../media/csLogo.svg) center no-repeat;
    width: 300px;
    background-size: 100%;
}

#flexHeader #linksBox {
    display: flex;
    flex-direction: row;
    border: 2px solid red;
    gap: 10px;
}

#flexHeader a {
    height: 60px;
    min-width: 150px;
    line-height: 60px;
    font-size: 1.5em;
    box-sizing: border-box;
    border: 2px solid black;
}

@media screen and (max-width: 800px){
    #flexHeader {
        margin-left: 2%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: left;
    }

    #flexHeader #linksBox {
        flex-direction: column;
        flex-flow: column;
        border-color: greenyellow;
        gap: 1px;
        justify-content: left;
        align-items: left;
        width: 100%;
    }

    #flexHeader a {
        width: 100%;
    }

    #flexHeader #linksBox a {
        line-height: 50px;
        font-size: 1.5em;
        padding-left: 5%;
    }

    #flexHeader #headerLogo {
        background: url(../media/csLogo.svg) center no-repeat;
        width: 300px;
        background-size: 100%;

    }

}

