body 
{ 
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#countdown{
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    font-size: 100px;
    height: 150px;
    width: 300px;
}

#start-button{
    background: green;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 110px;
    font-size: 30px;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
    justify-content:  center;
    margin-top: 20px;
    margin-left: 95px;
    cursor: pointer;
}

#start-button.red{
    background: red;
}

#open-button{
    background: orange;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 600;
    font-size: 70px;
    text-transform: uppercase;
    padding: 0px;
    margin-top: 100px;
    text-align: center;
    justify-content:  center;
    cursor: pointer;
}

#down-button{
    background: grey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 40px;
    height: 30px;
    font-size: 30px;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
    justify-content:  center;
    margin-top: 20px;
    margin-left: 95px;
    cursor: pointer;
}

#up-button{
    display: block;
    background: grey;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    width: 40px;
    height: 30px;
    font-size: 30px;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
    justify-content:  center;
    margin-top: -30px;
    margin-left: 165px;
    cursor: pointer;
}

#reset-button{
    background: yellow;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    width: 110px;
    font-size: 30px;
    text-transform: uppercase;
    padding: 0px;
    text-align: center;
    justify-content:  center;
    margin-top: 20px;
    margin-left: 95px;
    cursor: pointer;
}
